
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page-footer {
  padding-top: 0;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 60px;
  min-height: 60px;
  padding: 1rem;

  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.cart-list-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;

  transform: translate(-50%, -50%);

  width: 50rem;
  max-width: 95%;

  animation: show 500ms ease-in-out;
}

.cart-close {
  position: absolute;
  top: 1.1rem;
  right: 20px;

  color: white;

  border-radius: 50%;
}

.cart-item-close {
  border-radius: 50%;
}

.cart-item-close:hover,
.cart-close:hover {
  cursor: pointer;
}

.cart-item__quantity {
  cursor: pointer;
  vertical-align: middle;
}

@keyframes show {
  from {
    top: 70%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .cart {
    top: 5rem;
    right: 5rem;
    bottom: unset;
  }
}