
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page-footer {
  padding-top: 0;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

